<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/my_project1/app/assets/stylesheets/application1.css">
    <title>Registration Page</title>
</head>
<body class="rbody">
    <center>
        <div class="devise-form">
        <form>
        <h1>Registration Form</h1>
        Name : <input type="text" placeholder="Please Enter Your name">
        <br><br><br>
        Mobile : <input type="text" placeholder="Please Enter Your mobile">
        <br><br><br>
        Email : <input type="text" placeholder="Please Enter Your email">
        <br><br><br>
        City : <input type="text" placeholder="Please Enter Your city">
        <br><br><br>
        State : <input type="text" placeholder="Please Enter Your name">
        <br><br><br>
        <button onclick="func()">Submit</button>
        <script>
        const func()=>{
            alert("Your Details have been submitted");
        }
        </script>
        </form>
        </div>
        </center>
</body>
</html>